---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import LittleStory from "@/components/LittleStory.astro";
---

<Layout title="Photosnap Website Challenge.">
  <!-- The Header -->
  <Header />
  <main>
    <!-- Craete & Share -->
    <section class="flex flex-col md:max-2xl:flex-row-reverse">
      <picture>
        <source
          media="(min-width:1440px )"
          srcset="/images/home/desktop/create-and-share.jpg"
        />
        <source
          media="(min-width:768px )"
          srcset="/images/home/tablet/create-and-share.jpg"
        />
        <img src="/images/home/mobile/create-and-share.jpg" alt="" class="" />
      </picture>
      <div
        class="heroSectionAfter relative flex flex-col gap-4 bg-black py-[4.5rem] pl-[2.06rem] pr-6 after:absolute after:left-[2.06rem] after:top-0 after:h-[0.375rem] after:w-[8rem] md:gap-[1.31rem] md:px-[3.38rem] md:after:left-0
        md:after:top-[10.81rem] md:after:h-[19rem] md:after:w-[0.375rem] md:max-2xl:py-[9.81rem] xl:max-2xl:pl-[7rem] xl:max-2xl:pr-[6.94rem]"
      >
        <h1
          class="w-[19.875rem] text-[2rem] font-bold uppercase leading-10 tracking-[0.20831rem] text-white md:leading-[3rem] md:max-2xl:w-[24.1875rem] md:max-2xl:text-[2.5rem] md:max-2xl:tracking-[0.26044rem]"
        >
          Create and share your photo stories.
        </h1>
        <p
          class="text-[0.9375rem] font-normal leading-[1.5625rem] text-white/60 md:max-2xl:w-[24.1875rem]"
        >
          Photosnap is a platform for photographers and visual storytellers. We
          make it easy to share photos, tell stories and connect with others.
        </p>
        <a
          href="/"
          class="mt-[0.44rem] flex cursor-pointer items-center gap-[1.12rem] text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white transition-all duration-300 ease-in hover:underline md:mt-[1.69rem]"
          >get an invite
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </section>
    <!-- Beautiful Stories -->
    <section class="flex flex-col md:max-2xl:flex-row">
      <picture>
        <source
          media="(min-width:1440px )"
          srcset="/images/home/desktop/beautiful-stories.jpg"
        />
        <source
          media="(min-width:768px )"
          srcset="/images/home/tablet/beautiful-stories.jpg"
        />
        <img src="/images/home/mobile/beautiful-stories.jpg" alt="" class="" />
      </picture>
      <div
        class="flex flex-col gap-4 bg-white py-[4.5rem] pl-[2.06rem] pr-6
        md:gap-[1.31rem] md:pl-[3.37rem] md:pr-[3.38rem] md:max-2xl:pb-[8.44rem] md:max-2xl:pt-[7.5rem] xl:max-2xl:pl-[7rem] xl:max-2xl:pr-[6.94rem]"
      >
        <h1
          class="w-[19.875rem] text-[2rem] font-bold uppercase leading-10 tracking-[0.20831rem] text-black md:leading-[3rem] md:max-2xl:w-[24.1875rem] md:max-2xl:text-[2.5rem] md:max-2xl:tracking-[0.26044rem]"
        >
          Beautiful stories every time
        </h1>
        <p
          class="text-[0.9375rem] font-normal leading-[1.5625rem] text-black/60 md:max-2xl:w-[24.1875rem]"
        >
          We provide design templates to ensure your stories look terrific.
          Easily add photos, text, embed maps and media from other networks.
          Then share your story with everyone.
        </p>
        <a
          href="/"
          class="mt-[0.44rem] flex cursor-pointer items-center gap-[1.12rem] text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-black duration-300 ease-in hover:underline md:mt-[1.69rem]"
          >get an invite
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#000"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </section>
    <!-- Designed For Everyone -->
    <section class="flex flex-col md:max-2xl:flex-row-reverse">
      <picture>
        <source
          media="(min-width:1440px )"
          srcset="/images/home/desktop/designed-for-everyone.jpg"
        />
        <source
          media="(min-width:768px )"
          srcset="/images/home/tablet/designed-for-everyone.jpg"
        />
        <img
          src="/images/home/mobile/designed-for-everyone.jpg"
          alt=""
          class=""
        />
      </picture>
      <div
        class="flex flex-col gap-4 bg-white py-[5.75rem] pl-[2.06rem] pr-6
        md:gap-[1.31rem] md:pl-[3.37rem] md:pr-[3.38rem] md:max-2xl:pb-[9.44rem] md:max-2xl:pt-40 xl:max-2xl:pl-[7rem] xl:max-2xl:pr-[6.94rem]"
      >
        <h1
          class="w-[19.875rem] text-[2rem] font-bold uppercase leading-10 tracking-[0.20831rem] text-black md:leading-[3rem] md:max-2xl:w-[24.1875rem] md:max-2xl:text-[2.5rem] md:max-2xl:tracking-[0.26044rem]"
        >
          designed for everyone
        </h1>
        <p
          class="text-[0.9375rem] font-normal leading-[1.5625rem] text-black/60 md:max-2xl:w-[24.1875rem]"
        >
          Photosnap can help you create stories that resonate with your
          audience. Our tool is designed for photographers of all levels,
          brands, businesses you name it.
        </p>
        <a
          href="/"
          class="mt-[0.44rem] flex cursor-default items-center gap-[1.12rem] text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-black duration-300 ease-in hover:transition-all md:mt-[1.69rem]"
          >get an invite
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#000"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </section>
    <!-- Little Story -->
    <LittleStory />
    <!-- Featurse -->
    <section class="flex flex-col items-center py-20 pl-[2.06rem] pr-8">
      <!-- 100% Responsive -->
      <div class="flex flex-col items-center gap-12">
        <!-- 100% Responsive Img -->
        <div class="">
          <img
            src="/public/images/features/desktop/responsive.svg"
            alt=""
            class=""
          />
        </div>
        <!-- 100% Responsive Deatailes -->
        <div class="flex flex-col items-center gap-4 text-center">
          <h2 class="">100% Responsive</h2>
          <p class="">
            No matter which the device you’re on, our site is fully responsive
            and stories look beautiful on any screen.
          </p>
        </div>
      </div>
    </section>
  </main>
  <!-- The Footer -->
</Layout>

<style>
  .heroSectionAfter::after {
    background: linear-gradient(
      27deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
  }
</style>
