---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import BetaVersion from "@/components/BetaVersion.astro";
import PricingMonthlyYearly from "@/components/PricingMonthlyYearly.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Photosnap Website Challenge.">
  <!-- The Header -->
  <Header />
  <main>
    <!-- Pricing -->
    <section class="relative flex flex-col md:max-2xl:flex-row-reverse">
      <picture>
        <source
          media="(min-width:1440px )"
          srcset="/images/pricing/desktop/hero.jpg"
        />
        <source
          media="(min-width:768px )"
          srcset="/images/pricing/tablet/hero.jpg"
        />
        <img src="/images/pricing/mobile/hero.jpg" alt="" class="" />
      </picture>
      <div class="cardWrapper absolute top-0 h-[100%] w-[100%]"></div>
      <div
        class="heroSectionAfter relative flex flex-col gap-4 bg-black py-[4.5rem] pl-[1.81rem] pr-7 uppercase after:absolute after:left-[2.06rem] after:top-0 after:h-[0.375rem] after:w-[8rem]
        md:pb-[8.81rem] md:pl-[3.37rem] md:pr-[3.38rem] md:pt-[10.81rem] md:after:left-0 md:after:top-[10.81rem] md:after:h-[9rem] md:after:w-[0.375rem] md:max-2xl:gap-[1.31rem] xl:max-2xl:pl-28 xl:max-2xl:pr-[6.94rem]"
      >
        <h1
          class="text-[2rem] font-bold leading-10 tracking-[0.20831rem] text-white md:text-[2.5rem] md:leading-[3rem]"
        >
          PRICING
        </h1>
        <p
          class="w-[19.875rem] text-[0.9375rem] font-normal leading-[1.5625rem] text-white/60 md:w-[24.1875rem]"
        >
          Create a your stories, Photosnap is a platform for photographers and
          visual storytellers. It&#39;s the simple way to create and share your
          photos.
        </p>
      </div>
    </section>
    <!-- Price Table -->
    <PricingMonthlyYearly />
    <!-- Beta -->
    <BetaVersion />
  </main>
  <!-- The Footer -->
  <Footer />
</Layout>

<style>
  .cardWrapper {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0.27%,
      rgba(0, 0, 0, 0.66) 100%
    );
  }

  .heroSectionAfter::after {
    background: linear-gradient(
      27deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
  }
</style>
