---
import "@/styles/globals.css";
---

<section class="flex flex-col md:flex-row md:max-2xl:flex-wrap">
  <!-- The Mountains -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/mountains.jpg"
      />
      <img
        src="/images/stories/mobile/mountains.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">April 16th 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">The Mountains</h3>
        <h4 class="text-sm font-normal leading-normal">by John Appleseed</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- Sunset Cityscapes -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/cityscapes.jpg"
      />
      <img
        src="/images/stories/mobile/cityscapes.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">April 14th 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">Sunset Cityscapes</h3>
        <h4 class="text-sm font-normal leading-normal">by Benjamin Cruz</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- 18 Days Voyage -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/18-days-voyage.jpg"
      />
      <img
        src="/images/stories/mobile/18-days-voyage.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">April 11th 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">18 Days Voyage</h3>
        <h4 class="text-sm font-normal leading-normal">by Alexei Borodin</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- Architecturals -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/architecturals.jpg"
      />
      <img
        src="/images/stories/mobile/architecturals.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">April 9th 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">Architecturals</h3>
        <h4 class="text-sm font-normal leading-normal">by Samantha Brooke</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- World Tour 2019 -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/world-tour.jpg"
      />
      <img
        src="/images/stories/mobile/world-tour.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">April 7th 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">World Tour 2019</h3>
        <h4 class="text-sm font-normal leading-normal">by Timothy Wagner</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- Unforeseen Corners -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/unforeseen-corners.jpg"
      />
      <img
        src="/images/stories/mobile/unforeseen-corners.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">April 3rd 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">
          Unforeseen Corners
        </h3>
        <h4 class="text-sm font-normal leading-normal">by William Malcolm</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- King on Africa: Part II -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/king-on-africa.jpg"
      />
      <img
        src="/images/stories/mobile/king-on-africa.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">March 29th 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">
          King on Africa: Part II
        </h3>
        <h4 class="text-sm font-normal leading-normal">by Tim Hillenburg</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- The Trip to Nowhere -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/trip-to-nowhere.jpg"
      />
      <img
        src="/images/stories/mobile/trip-to-nowhere.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">March 21st 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">
          The Trip to Nowhere
        </h3>
        <h4 class="text-sm font-normal leading-normal">by Felicia Rourke</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- Rage of The Sea -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/rage-of-the-sea.jpg"
      />
      <img
        src="/images/stories/mobile/rage-of-the-sea.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">March 19th 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">Rage of The Sea</h3>
        <h4 class="text-sm font-normal leading-normal">by Mohammed Abdul</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- Running Free -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/running-free.jpg"
      />
      <img
        src="/images/stories/mobile/running-free.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">March 16th 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">Running Free</h3>
        <h4 class="text-sm font-normal leading-normal">by Michelle</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- Behind the Waves -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/behind-the-waves.jpg"
      />
      <img
        src="/images/stories/mobile/behind-the-waves.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">March 11th 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">Behind the Waves</h3>
        <h4 class="text-sm font-normal leading-normal">by Lamarr Wilson</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- Calm Waters -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/calm-waters.jpg"
      />
      <img
        src="/images/stories/mobile/calm-waters.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">March 9th 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">Calm Waters</h3>
        <h4 class="text-sm font-normal leading-normal">by Samantha Brooke</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- The Milky Way -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/milky-way.jpg"
      />
      <img
        src="/images/stories/mobile/milky-way.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">March 5th 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">The Milky Way</h3>
        <h4 class="text-sm font-normal leading-normal">by Benjamin Cruz</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- Night at The Dark Forest -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/dark-forest.jpg"
      />
      <img
        src="/images/stories/mobile/dark-forest.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">March 4th 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">
          Night at The Dark Forest
        </h3>
        <h4 class="text-sm font-normal leading-normal">by Mohammed Abdul</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- Somwarpet’s Beauty -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/somwarpet.jpg"
      />
      <img
        src="/images/stories/mobile/somwarpet.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">March 1st 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">
          Somwarpet&#39;s Beauty
        </h3>
        <h4 class="text-sm font-normal leading-normal">by Michelle</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- Land of Dreams -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:hover:after:w-[24rem] xl:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/land-of-dreams.jpg"
      />
      <img
        src="/images/stories/mobile/land-of-dreams.jpg"
        alt=""
        class="w-[23.4375rem] md:w-[24rem] xl:max-2xl:w-[22.5rem]"
      />
    </picture>
    <div
      class="cardWrapper absolute top-0 flex h-[23.5rem] w-[23.4375rem] flex-col justify-end gap-[2.31rem] px-[2.6rem] pb-10 md:h-[33.5rem] md:w-[24rem] xl:max-2xl:h-[31.25rem] xl:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative text-white after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[18.22919rem] after:bg-white/25 md:after:w-[18.66669rem] xl:max-2xl:w-[17.5rem]"
      >
        <h2 class="text-sm font-normal leading-normal">February 25th 2020</h2>
        <h3 class="text-lg font-bold leading-[1.5625rem]">Land of Dreams</h3>
        <h4 class="text-sm font-normal leading-normal">by William Malcolm</h4>
      </div>
      <!-- Red The Story -->
      <div class="">
        <a
          href="/"
          class="flex items-center justify-between text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white"
        >
          READ STORY
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .cardWrapper {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0.27%,
      rgba(0, 0, 0, 0.66) 100%
    );
  }
  .photoWrapper::after {
    background: linear-gradient(
      27deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
  }
</style>
