---
import "@/styles/globals.css";
---

<section class="flex">
  <!-- The Mountain -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/mountains.jpg"
      />
      <img
        src="/images/stories/mobile/mountains.jpg"
        alt="mountains"
        class=""
        id="theMountain"
      />
    </picture>
    <!-- The Mountains Photo Detailes -->
    <div
      class="cardWrapper absolute top-0 flex size-[23.4375rem] h-full w-full flex-col items-start justify-end gap-[2.31rem] pb-10 pl-[2.06rem] pr-8 md:max-2xl:h-[31.25rem] md:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[19.375rem] after:bg-white/25"
      >
        <h2 class="text-lg font-bold leading-[1.5625rem] text-white">
          The Mountains
        </h2>
        <h3 class="text-sm font-normal leading-normal text-white">
          by John Appleseed
        </h3>
      </div>
      <!-- The Link To the Story -->
      <div class="">
        <a
          href="#theMountain"
          class="flex items-center justify-between gap-[10.9rem] text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white md:gap-[9.09rem]"
          >read story
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- Sunset Cityscapes -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/cityscapes.jpg"
      />
      <img
        src="/images/stories/mobile/cityscapes.jpg"
        alt="mountains"
        class=""
        id="cityscapes"
      />
    </picture>
    <!-- The Mountains Photo Detailes -->
    <div
      class="cardWrapper absolute top-0 flex size-[23.4375rem] h-full w-full flex-col items-start justify-end gap-[2.31rem] pb-10 pl-[2.06rem] pr-8 md:max-2xl:h-[31.25rem] md:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[19.375rem] after:bg-white/25"
      >
        <h2 class="text-lg font-bold leading-[1.5625rem] text-white">
          Sunset Cityscapes
        </h2>
        <h3 class="text-sm font-normal leading-normal text-white">
          by Benjamin Cruz
        </h3>
      </div>
      <!-- The Link To the Story -->
      <div class="">
        <a
          href="#cityscapes"
          class="flex items-center justify-between gap-[10.9rem] text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white md:gap-[9.09rem]"
          >read story
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- 18 Days Voyage -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/18-days-voyage.jpg"
      />
      <img
        src="/images/stories/mobile/18-days-voyage.jpg"
        alt="mountains"
        class=""
        id="18-days-voyage"
      />
    </picture>
    <!-- The Mountains Photo Detailes -->
    <div
      class="cardWrapper absolute top-0 flex size-[23.4375rem] h-full w-full flex-col items-start justify-end gap-[2.31rem] pb-10 pl-[2.06rem] pr-8 md:max-2xl:h-[31.25rem] md:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[19.375rem] after:bg-white/25"
      >
        <h2 class="text-lg font-bold leading-[1.5625rem] text-white">
          18 Days Voyage
        </h2>
        <h3 class="text-sm font-normal leading-normal text-white">
          by Alexei Borodin
        </h3>
      </div>
      <!-- The Link To the Story -->
      <div class="">
        <a
          href="#18-days-voyage"
          class="flex items-center justify-between gap-[10.9rem] text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white md:gap-[9.09rem]"
          >read story
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
  <!-- Architecturals -->
  <div
    class="photoWrapper relative hover:-translate-y-8 hover:after:absolute hover:after:bottom-0 hover:after:h-[0.375rem] hover:after:w-[23.4375rem] md:max-2xl:hover:after:w-[22.5rem]"
  >
    <picture>
      <source
        media="(min-width:768px )"
        srcset="/images/stories/desktop/architecturals.jpg"
      />
      <img
        src="/images/stories/mobile/architecturals.jpg"
        alt="mountains"
        class=""
        id="architecturals"
      />
    </picture>
    <!-- The Mountains Photo Detailes -->
    <div
      class="cardWrapper absolute top-0 flex size-[23.4375rem] h-full w-full flex-col items-start justify-end gap-[2.31rem] pb-10 pl-[2.06rem] pr-8 md:max-2xl:h-[31.25rem] md:max-2xl:w-[22.5rem]"
    >
      <!-- Photo Detailes -->
      <div
        class="relative after:absolute after:-bottom-4 after:h-[0.0625rem] after:w-[19.375rem] after:bg-white/25"
      >
        <h2 class="text-lg font-bold leading-[1.5625rem] text-white">
          Architecturals
        </h2>
        <h3 class="text-sm font-normal leading-normal text-white">
          by Samantha Brooke
        </h3>
      </div>
      <!-- The Link To the Story -->
      <div class="">
        <a
          href="#architecturals"
          class="flex items-center justify-between gap-[10.9rem] text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-white md:gap-[9.09rem]"
          >read story
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="14"
            ><g fill="none" fill-rule="evenodd" stroke="#fff"
              ><path d="M0 7h41.864M35.428 1l6 6-6 6"></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .cardWrapper {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0.27%,
      rgba(0, 0, 0, 0.66) 100%
    );
  }
  .photoWrapper::after {
    background: linear-gradient(
      27deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
  }
</style>
