---
import "@/styles/globals.css";
---

<!-- Price Button -->
<section
  class="flex items-center justify-center gap-8 pb-10 pl-[1.81rem] pr-7 pt-16 md:pl-[2.44rem] md:pr-10 md:pt-28 xl:max-2xl:pb-12 xl:max-2xl:pt-[7.5rem]"
>
  <h2
    class="text-lg font-bold leading-[1.5625rem] text-black/50 focus:text-black"
  >
    Monthly
  </h2>
  <!-- Montly -->
  <button type="button" id="monthlyBtn">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="64"
      height="32"
      viewBox="0 0 64 32"
      fill="none"
    >
      <rect width="64" height="32" rx="16" fill="#DFDFDF"></rect>
      <circle cx="16" cy="16" r="12" fill="black"></circle>
    </svg>
  </button>
  <!-- Yearly -->
  <button type="button" id="yearlyBtn" class="hidden">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="64"
      height="32"
      viewBox="0 0 64 32"
      fill="none"
    >
      <rect width="64" height="32" rx="16" fill="black"></rect>
      <circle cx="48" cy="16" r="12" fill="white"></circle>
    </svg>
  </button>
  <h2
    class="text-lg font-bold leading-[1.5625rem] text-black/50 focus:text-black"
  >
    Yearly
  </h2>
</section>

<!-- Monthly Price -->
<section
  class="flex flex-col items-center gap-6 pb-16 pl-[1.81rem] pr-7 md:pb-28 md:pl-[2.44rem] md:pr-10 xl:max-2xl:flex-row xl:max-2xl:gap-[1.88rem] xl:max-2xl:px-[10.31rem] xl:max-2xl:pb-40"
  id="monthlyPrice"
>
  <!-- Basic -->
  <div
    class="grid h-[25.4375rem] w-[19.875rem] grid-cols-1 items-center gap-10 bg-[#F5F5F5] pb-10 pl-[1.31rem] pr-[1.37rem] pt-14 text-center md:h-[16.875rem] md:w-[43.0625rem] md:grid-cols-2 md:items-start md:gap-x-[3.31rem] md:gap-y-8 md:py-10 md:pl-10 md:pr-12 md:text-left xl:max-2xl:h-[25.4375rem] xl:max-2xl:w-[21.875rem] xl:max-2xl:grid-cols-1 xl:max-2xl:items-center xl:max-2xl:gap-10 xl:max-2xl:px-10 xl:max-2xl:pb-10 xl:max-2xl:pt-14 xl:max-2xl:text-center"
  >
    <div
      class="flex w-[17.1875rem] flex-col gap-[1.12rem] md:w-[16.875rem] xl:max-2xl:w-[16.875rem]"
    >
      <h2 class="text-2xl font-bold leading-[1.5625rem] text-black">Basic</h2>
      <p class="text-[0.9375rem] font-normal leading-[1.5625rem] text-black/60">
        Includes basic usage of our platform. Recommended for new and aspiring
        photographers.
      </p>
    </div>
    <div
      class="flex w-[16.3125rem] flex-col items-center justify-center text-center text-black md:items-end md:max-2xl:w-[16.875rem] xl:max-2xl:items-center"
    >
      <h3
        class="text-[2.5rem] font-bold uppercase leading-[3rem] tracking-[0.26044rem]"
      >
        $19.00
      </h3>
      <h4 class="text-[0.9375rem] font-normal leading-[1.5625rem] opacity-60">
        per month
      </h4>
    </div>
    <div class="">
      <button
        type="button"
        class="h-10 w-[16.3125rem] cursor-pointer bg-black text-xs font-bold leading-normal tracking-[0.125rem] text-white transition-colors duration-300 ease-in hover:bg-[#DFDFDF] hover:text-black md:max-2xl:w-[16.875rem]"
        >PICK PLAN
      </button>
    </div>
  </div>
  <!-- Pro -->
  <div
    class="heroSectionAfter relative grid h-[25.4375rem] w-[19.875rem] grid-cols-1 items-center gap-10 bg-black pb-10 pl-[1.31rem] pr-[1.37rem] pt-14 text-center after:absolute after:left-0 after:top-0 after:h-[0.375rem] after:w-[100%] md:h-[16.875rem] md:w-[43.0625rem] md:grid-cols-2 md:items-start md:gap-x-[3.31rem] md:gap-y-8 md:py-10 md:pl-10 md:pr-12 md:text-left xl:max-2xl:h-[29.375rem] xl:max-2xl:w-[21.875rem] xl:max-2xl:grid-cols-1 xl:max-2xl:items-center xl:max-2xl:gap-10 xl:max-2xl:px-10 xl:max-2xl:pb-10 xl:max-2xl:pt-14 xl:max-2xl:text-center"
  >
    <div
      class="flex w-[17.1875rem] flex-col gap-[1.12rem] md:w-[16.875rem] xl:max-2xl:w-[16.875rem]"
    >
      <h2 class="text-2xl font-bold leading-[1.5625rem] text-white">Pro</h2>
      <p class="text-[0.9375rem] font-normal leading-[1.5625rem] text-white/60">
        More advanced features available. Recommended for photography veterans
        and professionals.
      </p>
    </div>
    <div
      class="flex w-[16.3125rem] flex-col items-center justify-center text-center text-white md:items-end md:max-2xl:w-[16.875rem] xl:max-2xl:items-center"
    >
      <h3
        class="text-[2.5rem] font-bold uppercase leading-[3rem] tracking-[0.26044rem]"
      >
        $39.00
      </h3>
      <h4 class="text-[0.9375rem] font-normal leading-[1.5625rem] opacity-60">
        per month
      </h4>
    </div>
    <div class="">
      <button
        type="button"
        class="h-10 w-[16.3125rem] cursor-pointer bg-white text-xs font-bold leading-normal tracking-[0.125rem] text-black transition-colors duration-300 ease-in hover:bg-[#DFDFDF] hover:text-black md:max-2xl:w-[16.875rem]"
        >PICK PLAN
      </button>
    </div>
  </div>
  <!-- Business -->
  <div
    class="grid h-[25.4375rem] w-[19.875rem] grid-cols-1 items-center gap-10 bg-[#F5F5F5] pb-10 pl-[1.31rem] pr-[1.37rem] pt-14 text-center md:h-[16.875rem] md:w-[43.0625rem] md:grid-cols-2 md:items-start md:gap-x-[3.31rem] md:gap-y-8 md:py-10 md:pl-10 md:pr-12 md:text-left xl:max-2xl:h-[25.4375rem] xl:max-2xl:w-[21.875rem] xl:max-2xl:grid-cols-1 xl:max-2xl:items-center xl:max-2xl:gap-10 xl:max-2xl:px-10 xl:max-2xl:pb-10 xl:max-2xl:pt-14 xl:max-2xl:text-center"
  >
    <div
      class="flex w-[17.1875rem] flex-col gap-[1.12rem] md:w-[16.875rem] xl:max-2xl:w-[16.875rem]"
    >
      <h2 class="text-2xl font-bold leading-[1.5625rem] text-black">
        Business
      </h2>
      <p class="text-[0.9375rem] font-normal leading-[1.5625rem] text-black/60">
        Additional features available such as more detailed metrics. Recommended
        for business owners.
      </p>
    </div>
    <div
      class="flex w-[16.3125rem] flex-col items-center justify-center text-center text-black md:items-end md:max-2xl:w-[16.875rem] xl:max-2xl:items-center"
    >
      <h3
        class="text-[2.5rem] font-bold uppercase leading-[3rem] tracking-[0.26044rem]"
      >
        $99.00
      </h3>
      <h4 class="text-[0.9375rem] font-normal leading-[1.5625rem] opacity-60">
        per month
      </h4>
    </div>
    <div class="">
      <button
        type="button"
        class="h-10 w-[16.3125rem] cursor-pointer bg-black text-xs font-bold leading-normal tracking-[0.125rem] text-white transition-colors duration-300 ease-in hover:bg-[#DFDFDF] hover:text-black md:max-2xl:w-[16.875rem]"
        >PICK PLAN
      </button>
    </div>
  </div>
</section>

<!-- Yearly Price -->
<section class="hidden" id="yearlyPrice">
  <div
    class="flex flex-col items-center gap-6 pb-16 pl-[1.81rem] pr-7 md:pb-28 md:pl-[2.44rem] md:pr-10 xl:max-2xl:flex-row xl:max-2xl:gap-[1.88rem] xl:max-2xl:px-[10.31rem] xl:max-2xl:pb-40"
  >
    <!-- Basic -->
    <div
      class="grid h-[25.4375rem] w-[19.875rem] grid-cols-1 items-center gap-10 bg-[#F5F5F5] pb-10 pl-[1.31rem] pr-[1.37rem] pt-14 text-center md:h-[16.875rem] md:w-[43.0625rem] md:grid-cols-2 md:items-start md:gap-x-[3.31rem] md:gap-y-8 md:py-10 md:pl-10 md:pr-12 md:text-left xl:max-2xl:h-[25.4375rem] xl:max-2xl:w-[21.875rem] xl:max-2xl:grid-cols-1 xl:max-2xl:items-center xl:max-2xl:gap-10 xl:max-2xl:px-10 xl:max-2xl:pb-10 xl:max-2xl:pt-14 xl:max-2xl:text-center"
    >
      <div
        class="flex w-[17.1875rem] flex-col gap-[1.12rem] md:w-[16.875rem] xl:max-2xl:w-[16.875rem]"
      >
        <h2 class="text-2xl font-bold leading-[1.5625rem] text-black">Basic</h2>
        <p
          class="text-[0.9375rem] font-normal leading-[1.5625rem] text-black/60"
        >
          Includes basic usage of our platform. Recommended for new and aspiring
          photographers.
        </p>
      </div>
      <div
        class="flex w-[16.3125rem] flex-col items-center justify-center text-center text-black md:items-end md:max-2xl:w-[16.875rem] xl:max-2xl:items-center"
      >
        <h3
          class="text-[2.5rem] font-bold uppercase leading-[3rem] tracking-[0.26044rem]"
        >
          $190.00
        </h3>
        <h4 class="text-[0.9375rem] font-normal leading-[1.5625rem] opacity-60">
          per year
        </h4>
      </div>
      <div class="">
        <button
          type="button"
          class="h-10 w-[16.3125rem] cursor-pointer bg-black text-xs font-bold leading-normal tracking-[0.125rem] text-white transition-colors duration-300 ease-in hover:bg-[#DFDFDF] hover:text-black md:max-2xl:w-[16.875rem]"
          >PICK PLAN
        </button>
      </div>
    </div>
    <!-- Pro -->
    <div
      class="heroSectionAfter relative grid h-[25.4375rem] w-[19.875rem] grid-cols-1 items-center gap-10 bg-black pb-10 pl-[1.31rem] pr-[1.37rem] pt-14 text-center after:absolute after:left-0 after:top-0 after:h-[0.375rem] after:w-[100%] md:h-[16.875rem] md:w-[43.0625rem] md:grid-cols-2 md:items-start md:gap-x-[3.31rem] md:gap-y-8 md:py-10 md:pl-10 md:pr-12 md:text-left xl:max-2xl:h-[29.375rem] xl:max-2xl:w-[21.875rem] xl:max-2xl:grid-cols-1 xl:max-2xl:items-center xl:max-2xl:gap-10 xl:max-2xl:px-10 xl:max-2xl:pb-10 xl:max-2xl:pt-14 xl:max-2xl:text-center"
    >
      <div
        class="flex w-[17.1875rem] flex-col gap-[1.12rem] md:w-[16.875rem] xl:max-2xl:w-[16.875rem]"
      >
        <h2 class="text-2xl font-bold leading-[1.5625rem] text-white">Pro</h2>
        <p
          class="text-[0.9375rem] font-normal leading-[1.5625rem] text-white/60"
        >
          More advanced features available. Recommended for photography veterans
          and professionals.
        </p>
      </div>
      <div
        class="flex w-[16.3125rem] flex-col items-center justify-center text-center text-white md:items-end md:max-2xl:w-[16.875rem] xl:max-2xl:items-center"
      >
        <h3
          class="text-[2.5rem] font-bold uppercase leading-[3rem] tracking-[0.26044rem]"
        >
          $390.00
        </h3>
        <h4 class="text-[0.9375rem] font-normal leading-[1.5625rem] opacity-60">
          per year
        </h4>
      </div>
      <div class="">
        <button
          type="button"
          class="h-10 w-[16.3125rem] cursor-pointer bg-white text-xs font-bold leading-normal tracking-[0.125rem] text-black transition-colors duration-300 ease-in hover:bg-[#DFDFDF] hover:text-black md:max-2xl:w-[16.875rem]"
          >PICK PLAN
        </button>
      </div>
    </div>
    <!-- Business -->
    <div
      class="grid h-[25.4375rem] w-[19.875rem] grid-cols-1 items-center gap-10 bg-[#F5F5F5] pb-10 pl-[1.31rem] pr-[1.37rem] pt-14 text-center md:h-[16.875rem] md:w-[43.0625rem] md:grid-cols-2 md:items-start md:gap-x-[3.31rem] md:gap-y-8 md:py-10 md:pl-10 md:pr-12 md:text-left xl:max-2xl:h-[25.4375rem] xl:max-2xl:w-[21.875rem] xl:max-2xl:grid-cols-1 xl:max-2xl:items-center xl:max-2xl:gap-10 xl:max-2xl:px-10 xl:max-2xl:pb-10 xl:max-2xl:pt-14 xl:max-2xl:text-center"
    >
      <div
        class="flex w-[17.1875rem] flex-col gap-[1.12rem] md:w-[16.875rem] xl:max-2xl:w-[16.875rem]"
      >
        <h2 class="text-2xl font-bold leading-[1.5625rem] text-black">
          Business
        </h2>
        <p
          class="text-[0.9375rem] font-normal leading-[1.5625rem] text-black/60"
        >
          Additional features available such as more detailed metrics.
          Recommended for business owners.
        </p>
      </div>
      <div
        class="flex w-[16.3125rem] flex-col items-center justify-center text-center text-black md:items-end md:max-2xl:w-[16.875rem] xl:max-2xl:items-center"
      >
        <h3
          class="text-[2.5rem] font-bold uppercase leading-[3rem] tracking-[0.26044rem]"
        >
          $990.00
        </h3>
        <h4 class="text-[0.9375rem] font-normal leading-[1.5625rem] opacity-60">
          per year
        </h4>
      </div>
      <div class="">
        <button
          type="button"
          class="h-10 w-[16.3125rem] cursor-pointer bg-black text-xs font-bold leading-normal tracking-[0.125rem] text-white transition-colors duration-300 ease-in hover:bg-[#DFDFDF] hover:text-black md:max-2xl:w-[16.875rem]"
          >PICK PLAN
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Compare Mobile Version -->
<section class="pb-[5.56rem] pl-[1.81rem] pr-7 md:max-2xl:hidden">
  <div class="flex flex-col gap-[2.94rem]">
    <h2
      class="relative text-xs font-bold leading-normal tracking-[0.125rem] text-black after:absolute after:bottom-[-1.44rem] after:left-0 after:h-[0.0625rem] after:w-[19.875rem] after:bg-black"
    >
      THE FEATURES
    </h2>
    <div class="flex flex-col gap-[3.03rem]">
      <!-- UNLIMITED PHOTO UPLOAD -->
      <div
        class="relative flex flex-col gap-4 after:absolute after:-bottom-6 after:h-[0.0625rem] after:w-[19.875rem] after:bg-[#DFDFDF]"
      >
        <div class="">
          <h2
            class="text-xs font-bold leading-normal tracking-[0.125rem] text-black"
          >
            UNLIMITED STORY POSTING
          </h2>
        </div>
        <div class="flex items-center gap-[4.5rem]">
          <!-- Basic -->
          <div class="flex flex-col gap-2">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              BASIC
            </h3>
            <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
          </div>
          <!-- Pro -->
          <div class="flex flex-col gap-2">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              Pro
            </h3>
            <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
          </div>
          <!-- Business -->
          <div class="flex flex-col gap-2">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              Business
            </h3>
            <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
          </div>
        </div>
      </div>
      <!-- CUSTOMIZE METADATA -->
      <div
        class="relative flex flex-col gap-4 after:absolute after:-bottom-6 after:h-[0.0625rem] after:w-[19.875rem] after:bg-[#DFDFDF]"
      >
        <div class="">
          <h2
            class="text-xs font-bold leading-normal tracking-[0.125rem] text-black"
          >
            UNLIMITED PHOTO UPLOAD
          </h2>
        </div>
        <div class="flex items-center gap-[4.5rem]">
          <!-- Basic -->
          <div class="flex flex-col gap-2">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              BASIC
            </h3>
            <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
          </div>
          <!-- Pro -->
          <div class="flex flex-col gap-2">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              Pro
            </h3>
            <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
          </div>
          <!-- Business -->
          <div class="flex flex-col gap-2">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              Business
            </h3>
            <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
          </div>
        </div>
      </div>
      <!-- CUSTOMIZE METADATA -->
      <div
        class="relative flex flex-col gap-4 after:absolute after:-bottom-6 after:h-[0.0625rem] after:w-[19.875rem] after:bg-[#DFDFDF]"
      >
        <div class="">
          <h2
            class="text-xs font-bold leading-normal tracking-[0.125rem] text-black"
          >
            CUSTOMIZE METADATA
          </h2>
        </div>
        <div class="flex items-baseline gap-[4.5rem]">
          <!-- Basic -->
          <div class="">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              BASIC
            </h3>
          </div>
          <!-- Pro -->
          <div class="flex flex-col gap-2">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              Pro
            </h3>
            <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
          </div>
          <!-- Business -->
          <div class="flex flex-col gap-2">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              Business
            </h3>
            <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
          </div>
        </div>
      </div>
      <!--ADVANCED METRICS -->
      <div
        class="relative flex flex-col gap-4 after:absolute after:-bottom-6 after:h-[0.0625rem] after:w-[19.875rem] after:bg-[#DFDFDF]"
      >
        <div class="">
          <h2
            class="text-xs font-bold leading-normal tracking-[0.125rem] text-black"
          >
            ADVANCED METRICS
          </h2>
        </div>
        <div class="flex items-baseline gap-[4.5rem]">
          <!-- Basic -->
          <div class="">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              BASIC
            </h3>
          </div>
          <!-- Pro -->
          <div class="">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              Pro
            </h3>
          </div>
          <!-- Business -->
          <div class="flex flex-col gap-2">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              Business
            </h3>
            <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
          </div>
        </div>
      </div>
      <!-- PHOTO DOWNLOADS -->
      <div
        class="relative flex flex-col gap-4 after:absolute after:-bottom-6 after:h-[0.0625rem] after:w-[19.875rem] after:bg-[#DFDFDF]"
      >
        <div class="">
          <h2
            class="text-xs font-bold leading-normal tracking-[0.125rem] text-black"
          >
            PHOTO DOWNLOADS
          </h2>
        </div>
        <div class="flex items-baseline gap-[4.5rem]">
          <!-- Basic -->
          <div class="">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              BASIC
            </h3>
          </div>
          <!-- Pro -->
          <div class="">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              Pro
            </h3>
          </div>
          <!-- Business -->
          <div class="flex flex-col gap-2">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              Business
            </h3>
            <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
          </div>
        </div>
      </div>
      <!-- SEARCH ENGINE INDEXING -->
      <div
        class="relative flex flex-col gap-4 after:absolute after:-bottom-6 after:h-[0.0625rem] after:w-[19.875rem] after:bg-[#DFDFDF]"
      >
        <div class="">
          <h2
            class="text-xs font-bold leading-normal tracking-[0.125rem] text-black"
          >
            SEARCH ENGINE INDEXING
          </h2>
        </div>
        <div class="flex items-baseline gap-[4.5rem]">
          <!-- Basic -->
          <div class="">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              BASIC
            </h3>
          </div>
          <!-- Pro -->
          <div class="">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              Pro
            </h3>
          </div>
          <!-- Business -->
          <div class="flex flex-col gap-2">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              Business
            </h3>
            <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
          </div>
        </div>
      </div>
      <!-- CUSTOM ANALYTICS -->
      <div
        class="relative flex flex-col gap-4 after:absolute after:-bottom-6 after:h-[0.0625rem] after:w-[19.875rem] after:bg-[#DFDFDF]"
      >
        <div class="">
          <h2
            class="text-xs font-bold leading-normal tracking-[0.125rem] text-black"
          >
            CUSTOM ANALYTICS
          </h2>
        </div>
        <div class="flex items-baseline gap-[4.5rem]">
          <!-- Basic -->
          <div class="">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              BASIC
            </h3>
          </div>
          <!-- Pro -->
          <div class="">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              Pro
            </h3>
          </div>
          <!-- Business -->
          <div class="flex flex-col gap-2">
            <h3
              class="text-[0.625rem] font-bold leading-normal tracking-[0.10419rem] text-black/50"
            >
              Business
            </h3>
            <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Compare Tablet & Desktop Version -->
<section
  class="hidden md:mb-[8.69rem] md:ml-[2.44rem] md:mr-10 md:max-2xl:flex md:max-2xl:flex-col xl:max-2xl:mb-[11.56rem] xl:max-2xl:ml-[22.19rem] xl:max-2xl:mr-[22.12rem]"
>
  <h1
    class="mx-auto flex items-center justify-center text-[2.5rem] font-bold uppercase leading-[3rem] tracking-[0.26044rem] text-black md:mb-16 xl:max-2xl:mb-14"
  >
    COMPARE
  </h1>
  <div class="flex flex-col gap-[2.94rem] px-6">
    <!-- Title -->
    <div
      class="relative flex items-center after:absolute after:-left-6 after:bottom-[-1.44rem] after:h-[0.0625rem] after:w-[43.0625rem] after:bg-black md:gap-[6.56rem] xl:gap-[9.19rem] xl:after:w-[45.6875rem]"
    >
      <div class="">
        <h3
          class="w-[8.75rem] text-xs font-bold leading-normal tracking-[0.125rem] text-black"
        >
          THE FEATURES
        </h3>
      </div>
      <div class="flex items-center">
        <h3
          class="w-[8.75rem] text-xs font-bold leading-normal tracking-[0.125rem] text-black"
        >
          BASIC
        </h3>
        <h3
          class="w-[8.75rem] text-xs font-bold leading-normal tracking-[0.125rem] text-black"
        >
          PRO
        </h3>
        <h3
          class="w-[8.75rem] text-xs font-bold leading-normal tracking-[0.125rem] text-black"
        >
          BUSINESS
        </h3>
      </div>
    </div>
    <!-- UNLIMITED STORY POSTING -->
    <div
      class="relative flex items-center gap-[3.5rem] after:absolute after:-left-6 after:bottom-[-1.47rem] after:h-[0.0625rem] after:w-[43.0625rem] after:bg-[#DFDFDF] xl:gap-[5.5rem] xl:after:w-[45.6875rem]"
    >
      <div class="">
        <h3
          class="text-xs font-bold leading-normal tracking-[0.125rem] text-black"
        >
          UNLIMITED STORY POSTING
        </h3>
      </div>
      <div class="flex items-center gap-[7.75rem]">
        <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
        <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
        <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
      </div>
    </div>
    <!-- UNLIMITED PHOTO UPLOAD -->
    <div
      class="relative flex items-center gap-[3.5rem] after:absolute after:-left-6 after:bottom-[-1.47rem] after:h-[0.0625rem] after:w-[43.0625rem] after:bg-[#DFDFDF] xl:gap-[5.5rem] xl:after:w-[45.6875rem]"
    >
      <div class="">
        <h3
          class="text-xs font-bold leading-normal tracking-[0.125rem] text-black"
        >
          UNLIMITED PHOTO UPLOAD
        </h3>
      </div>
      <div class="flex items-center gap-[7.75rem]">
        <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
        <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
        <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
      </div>
    </div>
    <!-- EMBEDDING CUSTOM CONTENT -->
    <div
      class="relative flex items-center gap-[10.5rem] after:absolute after:-left-6 after:bottom-[-1.47rem] after:h-[0.0625rem] after:w-[43.0625rem] after:bg-[#DFDFDF] xl:gap-[12.5rem] xl:after:w-[45.6875rem]"
    >
      <div class="">
        <h3
          class="text-xs font-bold leading-normal tracking-[0.125rem] text-black"
        >
          EMBEDDING CUSTOM CONTENT
        </h3>
      </div>
      <div class="flex items-center gap-[7.75rem]">
        <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
        <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
      </div>
    </div>
    <!-- CUSTOMIZE METADATA -->
    <div
      class="relative flex items-center gap-[14.5rem] after:absolute after:-left-6 after:bottom-[-1.47rem] after:h-[0.0625rem] after:w-[43.0625rem] after:bg-[#DFDFDF] xl:gap-[16.5rem] xl:after:w-[45.6875rem]"
    >
      <div class="">
        <h3
          class="text-xs font-bold leading-normal tracking-[0.125rem] text-black"
        >
          CUSTOMIZE METADATA
        </h3>
      </div>
      <div class="flex items-center gap-[7.75rem]">
        <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
        <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
      </div>
    </div>
    <!-- CUSTOMIZE METADATA -->
    <div
      class="relative flex items-center gap-[23.5rem] after:absolute after:-left-6 after:bottom-[-1.47rem] after:h-[0.0625rem] after:w-[43.0625rem] after:bg-[#DFDFDF] xl:gap-[25.5rem] xl:after:w-[45.6875rem]"
    >
      <div class="">
        <h3
          class="text-xs font-bold leading-normal tracking-[0.125rem] text-black"
        >
          CUSTOMIZE METADATA
        </h3>
      </div>
      <div class="flex items-center gap-[7.75rem]">
        <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
      </div>
    </div>
    <!-- PHOTO DOWNLOADS -->
    <div
      class="relative flex items-center gap-[24.5rem] after:absolute after:-left-6 after:bottom-[-1.47rem] after:h-[0.0625rem] after:w-[43.0625rem] after:bg-[#DFDFDF] xl:gap-[26.5rem] xl:after:w-[45.6875rem]"
    >
      <div class="">
        <h3
          class="text-xs font-bold leading-normal tracking-[0.125rem] text-black"
        >
          PHOTO DOWNLOADS
        </h3>
      </div>
      <div class="flex items-center gap-[7.75rem]">
        <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
      </div>
    </div>
    <!-- SEARCH ENGINE INDEXING -->
    <div
      class="relative flex items-center gap-[21.5rem] after:absolute after:-left-6 after:bottom-[-1.47rem] after:h-[0.0625rem] after:w-[43.0625rem] after:bg-[#DFDFDF] xl:gap-[23.5rem] xl:after:w-[45.6875rem]"
    >
      <div class="">
        <h3
          class="text-xs font-bold leading-normal tracking-[0.125rem] text-black"
        >
          SEARCH ENGINE INDEXING
        </h3>
      </div>
      <div class="flex items-center gap-[7.75rem]">
        <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
      </div>
    </div>
    <!-- CUSTOM ANALYTICS -->
    <div
      class="relative flex items-center gap-[24.5rem] after:absolute after:-left-6 after:bottom-[-1.47rem] after:h-[0.0625rem] after:w-[43.0625rem] after:bg-[#DFDFDF] xl:gap-[26.5rem] xl:after:w-[45.6875rem]"
    >
      <div class="">
        <h3
          class="text-xs font-bold leading-normal tracking-[0.125rem] text-black"
        >
          CUSTOM ANALYTICS
        </h3>
      </div>
      <div class="flex items-center gap-[7.75rem]">
        <img src="/images/pricing/desktop/check.svg" alt="" class="w-4" />
      </div>
    </div>
  </div>
</section>

<style>
  .cardWrapper {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0.27%,
      rgba(0, 0, 0, 0.66) 100%
    );
  }

  .heroSectionAfter::after {
    background: linear-gradient(
      27deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
  }
</style>

<script is:inline>
  const monthlyBtn = document.getElementById("monthlyBtn");
  const yearlyBtn = document.getElementById("yearlyBtn");
  const monthlyPrice = document.getElementById("monthlyPrice");
  const yearlyPrice = document.getElementById("yearlyPrice");
  monthlyBtn.addEventListener("click", () => {
    yearlyPrice.classList.remove("hidden");
    monthlyPrice.classList.add("hidden");
    monthlyBtn.classList.add("hidden");
    yearlyBtn.classList.remove("hidden");
  });
  yearlyBtn.addEventListener("click", () => {
    yearlyPrice.classList.add("hidden");
    monthlyPrice.classList.remove("hidden");
    monthlyBtn.classList.remove("hidden");
    yearlyBtn.classList.add("hidden");
  });
</script>
